@model Entities.Entidades.Categoria

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Edição da Categoria</h4>
        @*<p class="card-category"> Aqui estão suas categorias</p>*@
        <p class="card-category">
            <i class="material-icons">class</i>
            Edição da Categoria
        </p>

    </div>

    <div class="card-body">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">    @Html.DisplayNameFor(model => model.Id) : </label>
                        @Html.DisplayFor(model => model.Id, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating" asp-for="Nome"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Sistema</label>
                        <select asp-for="IdSistema" class="form-control" asp-items="ViewBag.IdSistema"></select>
                        <span asp-validation-for="IdSistema" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <div>

                <a asp-action="Index">Voltar para Lista</a>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/categoria.js"></script>